/* survey start button */
main {
    text-align: center;
}

.messages p {
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
.messages {
    background-color: rgba(255, 242, 0, 0.621);
}