{% extends 'base.html' %}

{% block title %}Question {{id + 1}}{% endblock %}

{% block content %}



<h1 class="display-4">Question {{id + 1}}</h1>

<form action="/answer" method="post">
    <label for="question-{{id + 1}}">{{question}}</label>
    <hr class="my-4">

    <div>
        {% for choice in choices %}
        <div class="form-check form-check-inline">
            <input type="radio" name="choices" class="choices" id="{{choice}}" value="{{choice}}" required>
            <label for="{{choice}}">{{choice}}</label>
        </div>
        {% endfor %}

        {% if allow_comments %}
        <br>
        <label for="comments">Additional Comments</label>
        <input type="text" name="comments" id="comments">
        {% endif %}
    </div>
    <div> 
        <button type="submit" class="btn btn-success q-submit my-2 px-5">Submit</button>
    </div>
    
</form>

<!-- progress bar -->
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ p_bar }}%"></div>
{% endblock %}
